<div>
   <% @flavors.each do |flavor| %>
      <div>
         <%= flavor.name %>
         <%= flavor.summit_price %>
         <%= flavor.status %>
         <%= link_to 'UPDATE', "/flavors/#{flavor.id}/edit", remote: true, method: :get, class:"btn btn-lg, btn-primary"%>
      </div>
   <% end %>
</div>
<div id="flavor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<!--<div id="overlay"></div>-->
<!--<div id="modalWindow">-->
<!--   <%#= form_for @flavor do |f| %>-->
<!--      <%#= f.label :status, 'ステータスを変更' %>-->
<!--      <%#= f.radio_button :status, 1 %>-->
<!--      <%#= f.label :status, "やばい"%>-->
<!--      <%#= f.radio_button :status, 2%>-->
<!--      <%#= f.label :status, "普通"%>-->
<!--      <%#= f.radio_button :status, 3%>-->
<!--      <%#= f.label :status, "たくさん"%>-->
<!--      <%#= f.submit "Send" %>-->
<!--   <%# end %>-->
<!--   <button id="close">close</button>-->
<!--</div>-->
<!--<%#= link_to 'New User', new_user_session_path, class: "btn btn-lg, btn-primary" %>-->