<% @flavors.each do |flavor| %>
   <div>
      <%= flavor.name %>
      <%= flavor.price %>
      <%= flavor.status %>
      <button id="edit">編集</button>
      <div id="overlay"></div>
      <div id="modalWindow">
         <p>テスト</p>
         <button id="close">閉じる</button>
      </div>
   </div>
<% end %>