<% @flavors.each do |f| %>
    <div>
        <%= f.name %>
        <%= f.purchase_price %>
    </div>
<% end %>
<%= @flavors.all.sum(:purchase_price)%>
<%= link_to "レシート一覧", image_user_path(current_user) %>
