/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
 @import "bootstrap";
 
 #overlay {
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   top: 0;
   background: rgba(0, 0, 0, 0.3);
   display: none;
   z-index: 1
}

#modalWindow {
   width: 350px;
   height: 150px;
   position: fixed;
   border: 2px solid #D04255;
   background-color: #FFF;
   display: none;
   z-index: 2;
}

body {
   background-color: #fcefb5;
   font-family: 'Avenir', 'Corbel', 'Yu Gothic', '游ゴシック', YuGothic, '遊ゴシック体', 'ヒラギノ角ゴ Pro W3', 'メイリオ', sans-serif;
}

header {
   height: 100px;
   background-color: #cc2931;
}
nav {
   height: 100px;
   line-height: 100px;
}

.header-logo {
   vertical-align: middle;
}
.header-list {
   display: flex;
   list-style: none;
   float: right;
}
#sign-up {
   margin-right: 30px;
}

.row {
   margin: 40px auto;
}
.col-md-6 {
   margin-bottom: 40px;
   padding-right: 20px;
   padding-left: 20px;
}

.box {
   background-color: #ffffff;
   height: 100px;
}
.flavor {
   font-family: 'Avenir', 'Corbel', 'Yu Gothic', '游ゴシック', YuGothic, '遊ゴシック体', 'ヒラギノ角ゴ Pro W3', 'メイリオ', sans-serif;
   font-size: 20px;
   display: inline-block;
   line-height: 100px;
   margin-left: 50px;
}
.StatusImage {
   display: inline-block;
   line-height: 100px;
   margin-right: 50px;
}

// header {
//    background-color: #cc2931;
//    width: 100%;
//    height: 60px;
   
// }
// header ul {
//    list-style: none;
// }
// header p a {
//    text-decoration: none;
//    color: #ffffff;
// }
// header ul li {
//    text-decoration: none;
// }
// button {
//    width: 100px;
//    height: 50px;
//    font-size: 1.2em;
//    color: #D04255;
//    background-color: #FFF;
//    border: solid 2px #D04255;
//    border-radius: 3px;
//    transition: .4s;
// }

// button:hover {
//    background: #D04255;
//    color: #FFF;
// }

