// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main-image {
   height: 70vh;
   background-image: url("main-image02.png");
   background-size: cover;
}

// start number01 css
.first-container {
   margin-top: 110px;
}
.first-container-text {
   display: inline-block;
}
.text {
   margin-top: 80px;
}
.text-title {
   font-weight: bold;
   margin-bottom: 0px;
}
.text-p {
   font-size: 18px;
   margin-top: 50px;
}
.image {
   display: inline-block;
   float: right;
   margin-right: 150px;
}
.image img {
   width: 220px;
   height: 330px;
}
//end number 01 css

//start number02 css
.second-container {
   margin-top: 110px;
}
.second-container-text {
   display: inline-block;
   float: right;
   margin-left: 90px;
}

.image02 {
   display: inline-block;
   margin-left: 80px;
}
.image02 img {
   width: 250px;
   height: 375px;
}
.text02 {
   margin-top: 80px;
   margin-right: 80px;
}
//end number02 css

//start number03 css
.third-container {
   margin-top: 110px;
}
.third-container-text {
   display: inline-block;
}
.image03 {
   display: inline-block;
   float: right;
   margin-right: 150px;
}
.image03 img {
   width: 220px;
   height: 330px;
}
.text03 {
   margin-top: 80px;
}
//end number03 css

//start try-use css
.try-use {
   margin: 0 auto;
   width: 337px;
   margin-top: 110px;
}
//end try-use css